html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.swipe-container {
    flex-grow: 1; /* Растягиваем контейнер на всю высоту, кроме футера */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 85%;
    height: 70vh; /* Высота экрана минус футер */
    max-width: 370px;
    border-radius: 15px;
    overflow: visible;
    position: relative;
    padding: 10px 20px 20px 20px;
    margin: auto;
    z-index: 2; /* Выше, чем футер */


}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 23px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2; /* Выше, чем футер */
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;

    /* Градиентная маска для плавного исчезновения */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
}



.share-button2 {
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px; /* Делаем кнопки одинакового размера */
    height: 60px;
    transition: background 0.3s ease;
}


.buttons-container {
    display: flex;
    justify-content: space-between; /* Размещаем кнопки по краям */
    align-items: center;
    width: 70%;
    background: transparent;
    border-radius: 23px; /* Закругляем углы */
    padding-top: 3px;
}


.card-info {
    position: absolute;
    bottom: 0;
    width: 90%;
    background-color: transparent;
    padding: 40px 10px 10px 10px;
    border-radius: 8px;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем элементы по левой стороне */
    text-align: center; /* Текст внутри блоков тоже выравнивается влево */
    gap: 3px;
}


/* Стили для лайков */
.event-likes {
    font-size: 15px;
    font-weight: 500;
}

.likes-container {
    border: none;
    border-radius: 17px;
    padding: 2px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    transition: background 0.3s ease;
}

/* Стили для названия мероприятия */
.event-name {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* Описание мероприятия */
.event-desc {
    font-size: 17px;
    opacity: 0.6;
    color: #ffffff;
    padding: 2px;
}

.organizer-tag {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Размытие */
    padding: 5px 10px;
    border-radius: 17px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    gap: 4px;
    z-index: 100;
}

.organizer-icon {
    width: 16px;
    height: 16px;
    padding: 0;
    filter: brightness(0) invert(1); /* Делаем иконку белой */
}

/* Стили для нового блока кнопок */
.buttons-container-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
  /* Расстояние между кнопками */
}

.button-new {
  border-radius: 45px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  padding: 20px 30px;
  min-width: 90px;
  min-height: 56px;
}

.button-new:active {
  transform: scale(0.9);
}

.button-new.secondary {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.button-icon {
  width: 22px;
  height: 22px;
  display: block;
}
